---
layout: default
title: Forum
---

<header id="head" class="secondary"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">
            <h2>The Dalton/LSDalton forum has moved to <a href="http://forum.daltonprogram.org">http://forum.daltonprogram.org</a>.</h2>
        </div>
    </div>
</div>
