<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="{{ "/static/js/headroom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/jQuery.headroom.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/js/template.js" | prepend: site.baseurl }}"></script>
